parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    imagine_driver: imagick

    amazon.s3_key:                          edit me
    amazon.s3_secret:                       edit me
    amazon.s3_bucket:                       edit me
    amazon.s3_cache_bucket:                 edit me
    amazon.s3_region:                       eu-west-1

    gaufrette_image_adapter_service:        gaufrette.image_s3_adapter
    gaufrette_cv_adapter_service:           gaufrette.cv_s3_adapter
